.rightpanel {
	width: 30em;
	height: 800px;
	border-radius: 0.5em;
	background-color: #e5e6dc;
}

.rightpanel img {
	width: 18em;
	margin: 0 auto;
	border: white 0.5em solid;
	
}

.rightpanel h3 {
	text-align: center;
	margin: 0.5em;
}

.rightpanel .synopsis {
	text-align: left;
	margin: 0.5em;
	/* width: 36em; */
}