.rightpanel {
	border-radius: 0.5em;
	background-color: #e5e6dc;
	padding:0.5em;
}

.rightpanel .header {
	text-align: center;
	margin: 0 0.5em;
}

.rightpanel img {
	height: 320px;
	width: auto;
	margin: 0 auto;
	border: white 0.5em solid;
	
}

.rightpanel .movie-title {
	margin: 0.5em;
	padding: 0.5em;
	text-align:  left;
	width: fit-content;
}

.rightpanel h3 {
	font-size: 1.2rem;
}

.rightpanel .details {
	text-align: left;
	margin: 0.5em;
}


.rightpanel .more {
	cursor: pointer;
}

.rightpanel .more {
	color: blue;
}

.rightpanel .more:hover {
	color: purple;
}


/* Visualization width is 800 at 1200px */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	.rightpanel .header {
		text-align: center;
		margin: 0;
	}

	.rightpanel img {
		height: 225px;
		width: auto;
		margin: 0 auto;
		border: white 0.5em solid;
	}

	.rightpanel h3 {
		font-size: 1rem;
		font-weight: 500;
	}

	.rightpanel h4 {
		font-size: 1rem;
		font-weight: 400;
	}

	.rightpanel p {
		font-size: 0.9rem;
		font-weight: 300;
	}

	.rightpanel .details {
		text-align: left;
		margin: 0;
	}
	
}