.leftpanel {
	/* width: 30em; */
	height: 800px;
	border-radius: 0.5em;
	background-color: #e5e6dc;
}

.leftpanel h3 {
	font-size: 1.2rem;
	text-align: left;
	margin: 0.5em;
}

.leftpanel h4 {
	font-size: 1rem;
	text-align: left;
	margin: 0.5em;
}

.leftpanel p {
	text-align: left;
	font-weight: 300;
	margin: 0.5em;
}
