.feedback-body {
	background-color: #f9f9f9;
	border-radius: 0.5em;
	padding: 1em;
	margin: 0.5em auto;
	width: fit-content;
}

.feedback-body p {
	text-align: left;
	width: 400px;

}

.feedback-body label {
	display: block;
	text-align: left;
}

/* .feedback-body textarea {
	width: 400px;
} */